#app,body,html{
    height: 100%;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.dash-board{
    height: 100%;
}
.content-all{
    min-height: 100%;
    margin-top: -50px;
}
.padding-top-50{
    padding-top: 50px;
}
