.register{
    h1{
        text-align: center;
    }
    .register-main{
        border: 1px solid #ccc;
        padding: 30px;
        border-radius: 10px;
        margin-top: 100px;
        background: #EFF2F7;
    }
    button{
        width: 100%;
    }
}
